{% if not rpi.online %}
    <div class="row">
        <div class="span12">
            <h2 style="text-align: center;">RPI {{ rpi.name }} is not online</h2>
        </div>
    </div>
{% else %}
    {% for display in displays %}
        {% if not forloop.first %}
        <hr>
        {% endif %}
        <div class="row">
            {% for instance in display.instances %}
                {% if instance.db.label %}
                <div class="span12">
                    <h2>{{ instance.db.label }}</h2>
                </div>
                {% endif %}
                <div class="span12" id="{{ instance.id }}">
                    {% with display.cls_name|lower|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% comment %}
    create JS data binding here
    EX)
    data_bindings = {
	    'ADC, port:3, eq:whatever':{'id':'1', 'type_fnc':''},
    }
    {% endcomment %}
    <script type="text/javascript">
        data_bindings = {{ data_bindings_json|safe }};
    </script>

{% endif %}